*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1010px;
    margin: 0 auto;
    padding: 0 15px;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

a, button {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s ;
}

a:hover,
button:hover {
    opacity: 0.7;
}

.invisLink {
    position: relative;
    z-index: 1;
}

.invisLink > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

header {
    padding-top: 27px;
}

.headWrap {
    display: table;
    width: 100%;
}

.headWrap > div {
    display: table-cell;
    width: 33.3333%;
    vertical-align: top;
}

header .left .menu {
    padding-top: 37px;
}

.headWrap .logo {
    text-align: center;
}

.headWrap .right {
    text-align: right;
}


header .login{
    font-size: 13px;
    line-height: 20px;
    color: #0069b4;
}

header .menu a {
    font-size: 13px;
    line-height: 28px;
    color: #333333;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

header .phone {
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
}

header .callback {
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #0069b4;
    border-bottom: 1px dashed #0069b4;
    display: table;
    margin-left: auto;
    padding-top: 8px;
}

header .timing {
    font-size: 13px;
    line-height: 19px;
    color: #999999;
    margin-top: 10px;
}

header .basket {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: left center;
    margin-top: 20px;
}

header .basket span {
    color: #1a9547;
}

header [class*="icon"] {
    color: #caebd4;
}

header .icon-user {
    font-size: 18px;
}

header .icon-phone {
    font-size: 20px;
}


.banner {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.banner .sale {
    width: 305px;
    height: 360px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .slider {
    width: 640px;
    height: 360px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.content .sale {
    width: 304px;
    height: 360px;
}

.content .slider {
    width: 640px;
    height: 360px;
}

.advantages .item span {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: #333333;
    display: block;
    margin-top: 15px;
}

.advantages .item p {
    font-size: 12px;
    line-height: 14px;
    color: #666666;
    margin-top: 15px;
}

.advantages {
    width: calc(100% - 320px);
    float: left;
    margin-top: 30px;
}

.advantages .item {
    width: 25%;
    float: left;
}

.subscribe {
    background-color: #64ba4a;
    width: 320px;
    float: left;
    padding: 20px;
    margin-top: 30px;
}

.subscribe label {
    font-size: 16px;
    color: #ffffff;
}

.subscribe input {
    font-size: 13px;
    line-height: 37px;
    color: #999999;
    border: none;
    padding-left: 10px;
    width: 100%;
    margin-top: 15px;
}

.subscribe button {
    font-size: 13px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
    border: none;
    width: 185px;
    background-color: #259c47;
    display: table-cell;
    vertical-align:  middle;
}

.subscribe .wrap span {
    font-size: 12px;
    color: rgba(255,255,255,0.5);
    display: table-cell;
    vertical-align: middle;
    padding-left: 6px;
}

.subscribe .wrap {
    display: table;
    width: 100%;
    margin-top: 10px;
}

.advSub + .catalog {
    margin-top: 25px;
}

.filter li {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px dashed #666666;
    display: inline-block;
    margin-right: 15px;
}

.filter li a {
    text-decoration: none;
    color: #666666;
}

.filterSelect {
    display: none;
}

.filter + .cards {
    margin-top: 55px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.card {
    position: relative;
    border-bottom: 1px solid #e4e4e4;
}

.status {
    position: absolute;
    display: block;
    top: -3px;
    left: -3px;
    width: 43px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

.status.hit {
    background-color: #6eddcc;
}

.status.discount {
    background-color: #ffed03;
}

.status.new {
    background-color: #78ec71;
}

.card .content {
    position: relative;
    min-height: 110px;
    padding-top: 15px;
}

.card .content .buy {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.card .title {
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    display: block;
}

.card .img {
    height: 220px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card .small {
    width: 50px;
    height: 50px;
}

.card a {
    font-size: 15px;
    line-height: 22px;
    color: #0069b4;
}

.card .price {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
}

.card .price .old {
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    text-decoration: line-through;
    color: #666666;
    vertical-align: top;
}

.card button {
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    width: 100px;
    background-color: #ff7200;
    border: none;
}

.widgets .wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.widgets {
    margin-top: 65px;
}

.widgets h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #666666;
}

.widgets .item:first-child,
.widgets .item:last-child {
    width: 290px;
    height: 400px;
}

.widgets .item:nth-child(2) {
    width: 350px;
    height: 400px;
}

.widgets .item {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tabs li a {
    font-size: 14px;
    text-decoration: none;
    line-height: 45px;
    color: #999999;
}

.info .tabs {
    margin-top: 50px;
}

.tabs li {
    display: inline-block;
    padding: 0 15px;
}

.info .tabContent {
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    margin-top: 15px;
    margin-bottom: 30px;
}

.accordion > div {
    margin-top: 15px;
    margin-left: 40px;
}

.accordion > div p+ p {
    padding-top: 20px;
}

.accordion:last-child {
    margin-top: 40px;
}

.info .title {
    text-transform: uppercase;
    padding-left: 27px;
    position: relative;
    display: block;
}

.info .title::before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-top: 5px solid #333333;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -3px;
    transition: all 0.3s;
}

.info .title.active::before {
    transform: rotate(180deg);
}

footer {
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    background-color: #64ba4a;
    padding: 20px 0;
    position: relative;
}

footer .copyright span {
    display: block;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer .soclincs a {
    font-size: 21px;
    padding: 0 5px;
}

.footmenu {
    width: 50%;
    float: left;
}

.footmenu > li {
    width: 50%;
    float: left;
}

.footContacts {
    width: 25%;
    float: left;
}

.soclincs div {
    display: inline-block;
}

.copyright {
    width: 25%;
    float: left;
    padding-left: 70px;
    text-align: right;
}

/*CorpClients*/



header .menu  .corp {
    color: #ff7200;
}

.content .caption {
    font-size: 12px;
    line-height: 22px;
    color: #999999;
    padding-top: 5px;
    margin-top: 20px;
}

.content .caption a {
    text-decoration: none;
    color: #999999;
}

.corpClients .form > span {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    margin-top: 15px;
    display: block;
}

.corpClients form {
    background-color: #f9f9f9;
    margin-top: 10px;
    padding: 15px 10px;
}

.corpClients .form {
    float: left;
    width: 300px;
}

.corpClients .product {
    float: right;
    width: 635px;
    padding-right: 15px;
}

.corpClients form div + div {
    padding-top: 7px;
}

.corpClients form label {
    font-size: 13px;
    line-height: 22px;
    font-style: italic;
    color: #666666;
    display: block;
}

.corpClients form .nameOrg input,
.corpClients form .contact input,
.corpClients form .phone input {
    display: block;
    width: 282px;
    height: 30px;
    border: 1px solid #d6d6d6;
}

.corpClients .logo > div label {
    font-size: 13px;
    line-height: normal;
    font-style: normal;
    color: #333333;

}

.corpClients .logo span {
    font-size: 11px;
    color: #999999;
    display: block;
}

.corpClients .logo > div {
    float: left;
    width: 150px;
}

.corpClients .logo ul {
    float: right;
    display: block;
    vertical-align: top;
    width: 108px;
}

.corpClients .logo li {
    display: inline-block;
    text-align: right;
    padding-right: 30px;
}

.corpClients .logo li label {
    font-size: 13px;
    line-height: 22px;
    font-style: normal;
    color: #666666;
    padding-right: 30px;
    position: relative;
    margin-right: -30px;

}

.radBtn {
    display: none;
}

.radBtn:not(checked) + label::before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 25px;
    width: 22px;
    height: 22px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    transition: all 0.3s;
}

.radBtn:not(checked) + label::after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 32px;
    width: 8px;
    height: 8px;
    background-color: #51bf87;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
}

.radBtn:checked + label::before {
    border-color: #51bf87;
}

.radBtn:checked + label::after {
    opacity: 1;
}

.radBtn + label {
    cursor: pointer;
}

.logo li * {
    float: left;
}

.corpClients .input input {
    display: none;
}

.corpClients .input label {
    font-size: 13px;
    line-height: 22px;
    font-style: normal;
    text-decoration: underline;
    color: #229647;
}

.corpClients .input span {
    font-size: 13px;
    color: #999999;
    display: block;
}

.corpClients .figure select {
    display: block;
    height: 30px;
    width: 85px;
    border: 1px solid #d6d6d6;
}

.corpClients .figure option {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}

.corpClients .date input {
    font-size: 13px;
    line-height: 30px;
    color: #333333;
    display: block;
    float: left;
    width: 107px;
    border: 1px solid #d6d6d6;
}

.corpClients .date span {
    width: 20px;
    height: 17px;
    color: #51bf87;
    margin-left: 10px;
    margin-top: 7px;
    display: inline-block;
    background-repeat: no-repeat;
    float: left;
}

.corpClients .info textarea {
    width: 280px;
    height: 125px;
    border: 1px solid #d6d6d6;
}

.corpClients form button {
    font-size: 14px;
    line-height: 33px;
    color: #ffffff;
    background-color: #ff7200;
    border: none;
    margin-top: 20px;
    width: 130px;

}

.product > div {
    margin-top: 20px;
}

.product span {
    font-size: 25px;
    line-height: 22px;
    font-weight: 600;
    color: #333333;
}

.product p {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.product > div p:nth-child(2) {
    padding-top: 10px
}

.product p:last-child {
    padding-top: 35px;
}

.product a {
    font-size: 14px;
    line-height: 33px;
    width: 190px;
    color: #ffffff;
    background-color: #64ba4a;
    text-decoration: none;
    margin-top: 25px;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 80px;
}

/*news*/

.content .bredcrumbs li,
.content .bredcrumbs li a {
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
    color: #999999;
}

.content .news h1 {
    font-size: 25px;
    line-height: 22px;
    font-weight: 600;
    color: #333333;
}

.content .news h2 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #333333;
}

.content .news span {
    font-size: 12px;
    line-height: 22px;
    color: #aaaaaa;
}

.content .news p {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.content .moreNews {
    font-size: 13px;
    line-height: 22px;
    color: #0069b4;
}

.content .news h1 {
    padding: 20px 0px 45px;
}

.content .news h2 {
    margin: 0;
}

.content .newsImg {
    background-color: #b3b3b3;
    width: 100%;
    height: 205px;
    margin: 20px 0;
}

.newsContent p + p {
    padding-top: 15px;
}

.news .moreNews {
    display: inline-block;
    margin: 35px 0;
}

/*order*/

.content .breadcrumbs li,
.content .breadcrumbs li a {
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
    color: #999999;
}

.content .news h1 {
    font-size: 25px;
    line-height: 22px;
    font-weight: 600;
    color: #333333;
}

.content .news h2 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #333333;
}

.content .news span {
    font-size: 12px;
    line-height: 22px;
    color: #aaaaaa;
}

.content .news p {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.content .moreNews {
    font-size: 13px;
    line-height: 22px;
    color: #0069b4;
}
.orderList li {
    padding-left: 40px;
}
.orderList label {
    position: relative;
    padding-left: 40px;
    margin-left: -40px;
}
.radioBtn {
    display: none;
}
.radioBtn:not(checked) + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    transition: all 0.3s;
}
.radioBtn:not(checked) + label::after {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    background: #51df87;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
}
.radioBtn:checked + label::before {
    border-color: #51df87;
}
.radioBtn:checked + label::after {
    opacity: 1;
}
.radioBtn + label {
    cursor: pointer;
}

.content .breadcrumbs li,
.content .breadcrumbs li a {
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
    color: #999999;
    display: inline-block;
}

.content .breadcrumbs li + li {
    margin-left: 3px;
}

.content {
    position: relative;
}

.ofor::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
    border-top: 7px solid #00a48c;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    margin-bottom: -120px;
    margin-left: 268px;
}

.container .checkout h1 {
    font-size: 25px;
    line-height: 22px;
    font-weight: 600;
    color: #333333;
    padding: 20px 0px 15px;
}

.citySelection {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 26px;
}

.content .citySelection label {
    font-size: 13px;
    display: block;
    line-height: 22px;
    color: #666666;
    font-style: italic;
    /*padding-bottom: 6px;*/
}

.content .citySelection select * {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
}

.content h2 {
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    color: #333333;
    margin: 15px 0px 20px;
}

.delivery ul li label * {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.delivery .orderList {
    border-bottom: 1px solid #e4e4e4;
}

.delivery ul p {
    font-size: 12px;
    line-height: 18px;
    color: #666666;
    padding-bottom: 10px;
}

.delivery ul .orange {
    color: #f26522;
}

.delivery label {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
    font-style: normal;
    font-weight: 600;
}

.content .deliveryAddress label {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
    font-style: italic;
    display: block;
    padding-bottom: 5px;
}

.deliveryAddress form textarea {
    width: 290px;
    height: 105px;
}

.content .deliveryAddress span {
    color: #ed1c24;
}

.deliveryAddress {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 23px;
}

.deliveryAddress .message {
    display: block;
    float: left;
    margin-bottom: 50px;
}

.content .paymentMeth label {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
    font-style: normal;
    font-weight: 600;
}

.content .paymentMeth p {
    font-size: 12px;
    line-height: 18px;
    color: #666666;
    padding-top: 5px;
}

.paymentMeth {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 21px;

}

.content .yourDate label {
    font-size: 13px;
    line-height: 30px;
    color: #666666;
    font-style: italic;
    display: block;
}

.content .yourDate span {
    color: #ed1c24;
}

.content .yourDate .dateButton input {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    width: 185px;
    background-color: #ea5b0c;
    border: none;
    margin-top: 34px;
    margin-bottom: 75px;
}

.content .checkout .citySelection select {
    width: 285px;
    height: 25px;
}

.deliveryAddress input {
    width: 288px;
    height: 25px;
}

.numHouse div + div {
    margin-left: 34px;
}

.deliveryAddress .numHouse {
    width: 290px;
    float: left;
}

.deliveryAddress .numHouse div:first-child {
    float: left;
}

.deliveryAddress .numHouse div:nth-child(2) {
    float: left;
}

.deliveryAddress .numHouse div:last-child {
    float: left;
}

.numHouse div:first-child input {
    width: 58px;
}

.numHouse div:nth-child(2) input {
    width: 58px;
}

.numHouse div:last-child input {
    width: 100px;
}
.content .yourDate input {
    width: 288px;
    height: 25px;
}

.breadcrumbs {
    border-top: 1px solid #e4e4e4;
    margin-top: 20px;
}

header.mobile {
    display: none;
    position: relative;
    padding: 18px 0;
    background-color: #63ba49;
}

/*.mobileWrap {*/
    /*display: table;*/
    /*width: 100%;*/
/*}*/

.menuDropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 1;
    background-color: #63ba49;
}

.mobileSub {
    display: none;
    margin-bottom: 50px;
    padding: 0 5px;
    text-align: center;
}





