* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1010px;
    margin: 0 auto;
    padding: 0 15px;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

header .login{
    font-size: 13px;
    line-height: 20px;
    color: #0069b4;
}

header .menu a {
    font-size: 13px;
    line-height: 28px;
    color: #333333;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

header .phone {
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
}

header .callback {
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #0069b4;
    border-bottom: 1px dashed #0069b4;
}

header .timing {
    font-size: 13px;
    line-height: 19px;
    color: #999999;
}

header .basket {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: left center;
}

header .basket span {
    color: #1a9547;
}

header [class*="icon"] {
    color: #caebd4;
}

header .icon-user {
    font-size: 18px;
}

header .icon-phone {
    font-size: 20px;
}

.content .sale {
    width: 304px;
    height: 360px;
}

.content .slider {
    width: 640px;
    height: 360px;
}

.advantages .item span {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: #333333;
    display: block;
}

.advantages .item p {
    font-size: 12px;
    line-height: 14px;
    color: #666666;
}

.advantages {
    width: calc(100% - 320px);
    float: left;
}

.advantages .item {
    width: 25%;
    float: left;
}

.subscribe {
    background-color: #64ba4a;
    width: 320px;
    float: left;
    padding: 20px;
}

.subscribe label {
    font-size: 16px;
    color: #ffffff;
}

.subscribe input {
    font-size: 13px;
    line-height: 37px;
    color: #999999;
    border: none;
    padding-left: 10px;
    width: 100%;
}

.subscribe button {
    font-size: 13px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
    border: none;
    width: 185px;
    background-color: #259c47;
}

.subscribe .wrap span {
    font-size: 12px;
    color: rgba(255,255,255,0.5);
}

.advSub + .catalog {
    margin-top: 30px;
}

.filter li {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px dashed #666666;
    display: inline-block;
    margin-right: 20px;
}

.filter li a {
    text-decoration: none;
    color: #666666;
}

.filter + .cards {
    margin-top: 30px;
}

.card .title {
    font-size: 15px;
    line-height: 22px;
    color: #333333;
}

.card .img {
    width: 220px;
    height: 220px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.card .small {
    width: 50px;
    height: 50px;
}

.card a {
    font-size: 15px;
    line-height: 22px;
    color: #0069b4;
}

.card .price {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
}

.card .price .old {
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    text-decoration: line-through;
    color: #666666;
    vertical-align: top;
}

.card button {
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    width: 100px;
    background-color: #ff7200;
    border: none;
}

.widgets h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #666666;
}

.widgets .item:first-child,
.widgets .item:last-child {
    width: 290px;
    height: 400px;
}

.widgets .item:nth-child(2) {
    width: 350px;
    height: 400px;
}

.widgets .item {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tabs li a {
    font-size: 14px;
    text-decoration: none;
    line-height: 45px;
    color: #999999;
}

.tabs li {
    display: inline-block;
    padding: 0 15px;
}

.info .tabContent {
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.info .title {
    text-transform: uppercase;
}

footer {
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    background-color: #64ba4a;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer .soclincs a {
    font-size: 21px;
}

.footmenu {
    width: 50%;
    float: left;
}

.footmenu > li {
    width: 50%;
    float: left;
}

.footContacts {
    width: 25%;
    float: left;
}

.copyright {
    width: 25%;
    float: left;
}

header .menu  .corp {
    color: #ff7200;
}

.content .caption {
    font-size: 12px;
    line-height: 22px;
    color: #999999;
}

.content .caption a {
    text-decoration: none;
    color: #999999;
}

.corpClients .form>span {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}

.corpClients form {
    background-color: #f9f9f9;
}

.corpClients form label {
    font-size: 13px;
    line-height: 22px;
    font-style: italic;
    color: #666666;
}

.corpClients .logo>label {
    font-size: 13px;
    line-height: normal;
    font-style: normal;
    color: #333333;
}

.corpClients .logo span {
    font-size: 11px;
    color: #999999;
}

.corpClients .logo li label {
    font-size: 13px;
    line-height: 22px;
    font-style: normal;
    color: #666666;
}

.corpClients .input label {
    font-size: 13px;
    line-height: 22px;
    font-style: normal;
    text-decoration: underline;
    color: #229647;
}

.corpClients .input span {
    font-size: 13px;
    color: #999999;
}

.corpClients .figure option {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}

.corpClients .date input {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}

.corpClients .info textarea {
    width: 280px;
    height: 125px;
}

.corpClients form button {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    background-color: #ff7200;
    border: none;
}

.product span {
    font-size: 25px;
    line-height: 22px;
    font-weight: 600;
    color: #333333;
}

.product p {
    font-size: 13px;
    line-height: 30px;
    color: #333333;
}

.product a {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    background-color: #64ba4a;
    text-decoration: none;
}

.content .bredcrumbs li,
.content .bredcrumbs li a {
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
    color: #999999;
}

.content .news h1 {
    font-size: 25px;
    line-height: 22px;
    font-weight: 600;
    color: #333333;
}

.content .news h2 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #333333;
}

.content .news span {
    font-size: 12px;
    line-height: 22px;
    color: #aaaaaa;
}

.content .news p {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.content .moreNews {
    font-size: 13px;
    line-height: 22px;
    color: #0069b4;
}

.content .breadcrumbs li,
.content .breadcrumbs li a {
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
    color: #999999;
}

.container .checkout h1 {
    font-size: 25px;
    line-height: 22px;
    font-weight: 600;
    color: #333333;
}

.content .citySelection label {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
    font-style: italic;
}

.content .citySelection select* {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
}

.content h2 {
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    color: #333333;
}

.delivery ul li label* {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.delivery ul p {
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}

.delivery ul .orange {
    color: #f26522;
}

.content .deliveryAddress label {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
    font-style: italic;
}

.content .deliveryAddress span {
    color: #ed1c24;
}

.content .paymentMeth label {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
    font-style: normal;
}

.content .paymentMeth p {
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}

.content .yourDate label{
    font-size: 13px;
    line-height: 22px;
    color: #666666;
    font-style: italic;
}

.content .yourDate span {
    color: #ed1c24;
}

.content .yourDate .dateButton input {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    width: 185px;
    background-color: #ea5b0c;
    border: none;
}

